{
  "expo": {
    "name": "PINAK",
    "slug": "pinak",
    "version": "1.0.0",
    "orientation": "portrait",
    "icon": "./assets/icon.png",
    "userInterfaceStyle": "light",
    "ios": {
      "supportsTablet": true,
      "bundleIdentifier": "Pinak.Ethereal.com",
      "googleServicesFile": "./GoogleService-Info.plist"
    },
    "android": {
      "package": "Pinak.Ethereal.com",
      "googleServicesFile": "./google-services.json",
      "adaptiveIcon": {
        "backgroundColor": "#10123a",
        "foregroundImage": "./assets/android-icon-foreground.png",
        "backgroundImage": "./assets/android-icon-background.png",
        "monochromeImage": "./assets/android-icon-monochrome.png"
      },
      "predictiveBackGestureEnabled": false
    },
    "web": {
      "favicon": "./assets/favicon.png"
    },
    "scheme": "pinak",
    "extra": {
  "firebaseApiKey": "AIzaSyCey77jWc-SA9gIzf3Iv1R4Fq-ODQmZmV4",
  "firebaseAuthDomain": "pinak-dev.firebaseapp.com",
  "firebaseProjectId": "pinak-dev",
  "firebaseStorageBucket": "pinak-dev.firebasestorage.app",
  "firebaseMessagingSenderId": "246119299201",
  "firebaseAppId": "1:246119299201:web:f4c2766403866817263580",
  "googleIosClientId": "REEMPLAZA_CON_TU_IOS_CLIENT_ID",
  "googleAndroidClientId": "REEMPLAZA_CON_TU_ANDROID_CLIENT_ID",
  "googleWebClientId": "REEMPLAZA_CON_TU_WEB_CLIENT_ID"
}
  }
}
